* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 100vw;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
  canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
  }
.btnHome {
  border-radius: 20px;
  width: 15vw;
  height: 13vh;
}
footer {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  overflow: hidden;
}