* {
  margin: 0;
  padding: 0;
}
body{
  font-family: Fira Sans;
  background: rgba(246, 241, 241, 0.79);
}
.logo {
  width: 100vw;
  display: flex;
  justify-content: center;
}
main {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  width: 20vw;
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.btnHome {
  font-size: 12px;
  height: 3vw;
  width: 20vw;
  background-color: #e75744;
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
.hamb-btn{
  width: 50vw;
}
footer {
  font-size: 15px;
  bottom: 0px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(216, 84, 84, 0.308);
  background-color: #F6F1F1;
}
footer a {
	color: red;
	text-decoration: underline
}
@media (min-width: 640px) and (max-width: 1024px) {
  main {
    height: 80vh;
  }
canvas {
  width: 40vw;
}
.burger {
  width: 40vw;
}
.btnHome {
  height: 7vw;
  width: 40vw;
}
}
@media (max-width: 380px){
  main {
    height: 80vh;
  }
canvas {
  width: 40vw;
}
.flappy{
  width: 100vw;
}
.sorry{
  width: 40vw;
}
.btnHome {
  font-size: 11px;
  height: 9vw;
  width: 41vw;
}
}